<div >
  <h1>{{'HOME.TITLE'|translate}}</h1>
  <div class="float-left">
    <br />
    <a>{{'HOME.SUBTITLE'|translate}}</a>
    <ul>
      <li><a>{{'HOME.LI_1'|translate}}</a></li>
      <li><a>{{'HOME.LI_2'|translate}}</a></li>
      <li><a>{{'HOME.LI_3'|translate}}</a></li>
      <li><a>{{'HOME.LI_4'|translate}}</a></li>
      <li><a>{{'HOME.LI_5'|translate}}</a></li>
    </ul>

    <br />
    <p><code>{{'HOME.CONTACT'|translate}}</code> </p>
    <p><code>{{'HOME.PHONE'|translate}}</code> +972 509040320 <i class='fas fa-phone'></i></p>
    <p><code>{{'HOME.EMAIL'|translate}}</code> assafsolutions@gmail.com <i class='fab fa-google'></i></p>
    <p><img height="100" width="150" src="assets/email.gif" /></p>
  </div>
  <div class="float-right">
    
    <p><img height="150" width="250" src="assets/mp4.gif" /></p>
  </div>
</div>
